{{>layout/header}}

<div class="col-md-8">
    <h1 style="margin: 20px;">◎ 파일 확장자 차단</h1>
    <div class="form-group" style="border-top: 1px solid black;">
        <label>파일확장자에 따라 특정 형식의 파일을 첨부하거나 전송하지 못하도록 제한</label>
    </div>
    <form>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">고정 확장자</label>
            <div class="col-sm-8">
                {{#extsDefault}}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="extsDefault" type="checkbox" id="inlineCheckbox-{{id}}" value="{{useYn}}">
                        <label class="form-check-label" for="inlineCheckbox-{{id}}">{{name}}</label>
                    </div>
                {{/extsDefault}}
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">커스텀 확장자</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="extName" placeholder="확장자 입력" maxlength="20">
            </div>
            <button type="button" class="btn btn-primary" id="btn-add">+추가</button>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0"></legend>
                <div class="col-lg-8">
                    <div style="border: 1px solid #ced4da; padding: 10px; min-height: 300px">
                        <label for="">{{extsCustomLength}} / 200</label><br>
                        <div class="form-check form-check-inline">
                            {{#extsCustom}}
                                <button type="button" class="close" aria-label="Close" style="padding: 10px;">
                                    {{name}}<a class="exts-delete" name="{{id}}" aria-hidden="true">&times;</a>
                                    &nbsp;&nbsp;
                                    <input type="hidden" name="{{id}}" value="{{id}}">
                                </button>
                            {{/extsCustom}}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <br><br>
    </form>
</div>
{{>layout/footer}}